
<ion-header>

  <ion-navbar>
    <ion-title>expense-list</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="color">
    <ion-list>
        
     <div id = "text">
        <!-- <ion-item *ngFor="let expenseItem of (expenseItem$ | async)">
            <h2>Name:{{expenseItem.expenseName}} </h2>
            <h2>Amount:{{expenseItem.expenseAmount}}</h2>
            <h3>Date: {{expenseItem.expenseDate}}</h3>
            <h3>Category: {{expenseItem.expenseCategory}}</h3>
            <h3>Notes: {{expenseItem.expenseNotes}}</h3>
          </ion-item> -->
    
          <ion-item *ngFor="let expenseItem of expen ">
            <h2>Name:{{expenseItem.expenseName}} </h2>
            <h2>Amount:{{expenseItem.expenseAmount}}</h2>
            <h3>Date: {{expenseItem.expenseDate}}</h3>
            <h3>Category: {{expenseItem.expenseCategory}}</h3>
            <h3>Notes: {{expenseItem.expenseNotes}}</h3>
     <button ion-button  (click)="updateEx(expenseItem.key, expenseItem.expenseNotes)"> Update</button>
     <button ion-button  (click)="deleteEx(expenseItem.key)"> Delete</button>
          </ion-item>
     </div> 
    </ion-list>
</ion-content>
