page-home {
    .background{
        background: #002A4D;
       // background: #00BFA5;
       //background: #002A4D;
}
.color{
    background: #EEEEEE;
  // background: #005466;
   //background: #FCE4EC;
}
.g{
    background: #000000;
}

.h1{
    color: azure;
}
.card-background-1{
    background: #E0F7FA;
    border: 1px solid color (secondary);
}
.card-background{
    background: #002A4D;
   // background: #00BFA5;
    border: 1px solid color (secondary);
}
.card-background-2{
    background: #002A4D;
   // background: #84FFFF;
    border: 1px solid color (secondary);
}
//#pics{
  //  height: 30px;
    //width: 30px;
//}
//.logo{
   // height: 50px;
   // width: 50px;
   // color: #00BFA5;
}//
.fab-sub{
    background:rgba(235, 4, 4, 0.932);
}
.fab-add{
    background:rgba(3, 80, 48, 0.932);
}
.icon{
    font-size: 20px;
   // height: 50px;
  // width: 50px;
  // color: #00BFA5;
  color: #002A4D;

}
.h2 {
    color:#fff;
}
#pics{
    //color:#00BFA5
    color: #212121;
}
.header{
background: #00796b;
}
