page-startup {
.background{
    //background: #00BFA5;
   // background: #002A4D;
   background: #172F39;

}
.scroll-content{
    align-content: center;
    
    display: flex;
    flex-direction: column;
    //justify-content: unset;
    justify-content: center;
    text-align: center ;

}
}
